<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Rustio</title>
      <meta name="description" content="A media player powered by Rust.">
      <meta name="author" content="Christopher Teters, Max Smiley, Paul Hubbard">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
      <!-- Font Awesome CSS-->
      <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
      <!-- owl carousel-->
      <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
      <!-- animate.css-->
      <link rel="stylesheet" href="vendor/animate.css/animate.css">
      <!-- stylesheet-->
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <!-- Reference item-->
      <!-- navbar-->
      <header class="header">
         <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
               <a href="#intro" class="navbar-brand scrollTo">Rustio</a>
               <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars"></span></button>
               <div id="navbarcollapse" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                  </ul>
               </div>
            </div>
         </nav>
      </header>



      <section id="sample" style="background: url(img/underwaterBubbles.jpg) center center no-repeat; background-size: cover;" class="sample-test">
<div class="row">
  <div class="col-sm-3">
         <br>
         <br>
         <br>
         <br>
<button  id="get_songs" class="btn btn-secondary btn-sm" type="submit" value="play_victory" style="width=2em">
            Get Available Songs</button> 
<ul id="avail_songs" class="list-group">
  </ul>
  </div>
  <div class="col-sm-6">
            <img src="img/blankAlbum.jpg" align="bottom" alt="Album art" width="500" height="500"/>
            <br><br>
            <div size="24" data-animate="fadeInUp">'
		    <big><font id="song_info" color="grey"><strong>Song info</strong></font></big>
	    </div>

         <br>
         <div class="btn-group mr-4" role="group" aria-label="Player">
            <form action="/" method="post" accept-charset="utf-8">
               <button  class="btn btn-secondary btn-lg">
               <i class="fa fa-step-backward"></i>
               </button>
            </form>
            <button  id="play" class="btn btn-secondary btn-lg"type="submit" value="play_victory">
            <i class="fa fa-play"></i>
            </button> 
               <button id="stop" class="btn btn-secondary btn-lg">
               <i class="fa fa-stop"></i>
               </button>
            <form action="/" method="post" accept-charset="utf-8">
               <button  class="btn btn-secondary btn-lg">
               <i class="fa fa-step-forward"></i>
               </button> 
            </form>
            <form action="/" method="post" accept-charset="utf-8">
               <button  class="btn btn-secondary btn-lg">
               <i class="fa fa-volume-down"></i>
               </button> 
            </form>
            <form action="/" method="post" accept-charset="utf-8">
               <button  class="btn btn-secondary btn-lg">
               <i class="fa fa-volume-up"></i>
               </button> 
            </form>
         </div>


  </div>
  <div class="col-sm-3">
         <br>
         <br>
         <br>
         <br>
<button  id="load_songs" class="btn btn-secondary btn-sm" type="submit" value="play_victory" style="width=2em">
            Load Songs</button> 

<ul class="list-group">
</ul>
  </div>
</div>
</section>
      <!-- Footer-->
      <footer class="main-footer">
         <div class="container">
            <div class="row">
               <div class="col-md-6 text-left text-white">
                  Last updated in July of 2019
               </div>
               <div class="col-md-6 text-right text-lg-right text-white">
                  <p><a href="https://getbootstrap.com/" target="_link">Powered by &nbsp;<img src="img/bootstrap-stack.png" align="right" alt="Bootstrap" width="25" height="25"/></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- JavaScript files-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="vendor/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="js/front.js"></script>
      <script>
	 var tracks = [];
	 var track_struct;
         var url = '/';
	 var i = 0;
	 var timeDelay = 0;
	 const getUrl = "/get_songs";
	 const stopUrl = "/stop";
	 const playUrl = "/play";
         const data={
         	name:"play_victory",
         	id:play
         }	
	 var song_list = $("#avail_songs");	

	function post_song(song_title) {
		url += song_title;
		$.post(url, function(track_struct, status){
			console.log(`${track_struct} and status is ${status}`)
		});

		url = '/';
	}

	function empty_track_list() {
		tracks = [];
	}

	function my_loop(time) {
		setTimeout(function () {
			$("#song_info").text(tracks[i].title + ' by ' + tracks[i].artist);
			console.log(tracks[i]);
			post_song(tracks[i].path);
			i++;
			if ( i < tracks.length)
			{
				timeDelay = 1000;
				my_loop(timeDelay);
			}
		}, time)
	}
  
         $('#load_songs').click(function() {
		my_loop(timeDelay);		
		 /*
		 url = "/media";
		 console.log(url);
		 data: JSON.stringify(track_struct);
		 contentType: 'application/json';
		$.post(url, function(data, status){
			console.log(`${track_struct} and status is ${status}`)
		});
		*/

	})

	$('#play').click(function() {
		$.post(playUrl, function(status){
			console.log(`status is ${status}`)
		});

	})

	$('#stop').click(function() {
		$.post(stopUrl, function(status){
			console.log(`status is ${status}`)
		});
	})	

	$('#get_songs').click(function() {
		empty_track_list();
		song_list.empty();	
		$.getJSON(getUrl, function(result) {
			track_struct = result;
			tracks = result.track_list;
			$.each(tracks, function(i) {
				console.log(result);
				var li = $('<li/>')
				.addClass("list-group-item")
				.attr('role', 'groupitme')
				.text(tracks[i].title)
				.appendTo(song_list);
				var span = $('<span/>')
				.addClass('badge')
				.text(' by ' + tracks[i].artist)
				.appendTo(li);
			});
		});
	})


      </script>
   </body>
</html>
