<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rustio</title>
    <style>
        body {
            background-image: url(img/background/gradient-42.jpg);
        }
    </style>
    <meta name="description" content="A media player powered by Rust.">
    <meta name="author" content="Christopher Teters, Max Smiley, Paul Hubbard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/all.css">
    <!-- owl carousel-->
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- animate.css-->
    <link rel="stylesheet" href="vendor/animate.css/animate.css">
    <!-- stylesheet-->
    <link rel="stylesheet" href="css/style.css">
    <!-- gradients-->
    <link rel="stylesheet" href="css/gradient.css">
</head>

<body>
    <!-- Reference item-->
    <!-- navbar-->
    <header class="header">
    </header>

    <section id="options"style="background: url(img/background/gradient-42.jpg) center center no-repeat; background-size: cover;">

        <div class="row" class="card-body gradient-buttons">
            <div class="col-md-2" class="card-body gradient-buttons">
                <div class="row" class="card-body gradient-buttons">
                    <div class="card-body gradient-buttons">
                        <button id="radio-player" class="btn btn-info btn-lg" type="submit" onclick="relocate_home()">
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="icon"><span style="font-size: 6em; color: LightBlue;"><i class="fas fa-home"></i></span></div>
                            <h3 data-animate="fadeInUp" class="heading mb-3 text-400">Home</h3>
                            <br>
                            <br>
                            <br>
                            <br>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br>
                    <br>
                    <br>
                    <img src="img/map.gif" width="125%" height="125%">
                    <center>
                        <p><font color="white"><strong>Full-screen mode</strong></font>
                            <button id="fullscreen" class="btn btn-secondary btn-lg" type="submit" onclick="requestFullScreen()">
                                <i class="fa fa-expand"></i>
                            </button>
                        </p>
                    </center>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>

    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="js/front.js"></script>
    <script src="js/fullscreen.js"></script>
    <script src="fontawesome.js"></script>
    <script src="fontawesome.min.js"></script>
    <script>
        function relocate_home() {
            location.href = "index.html.tera";
        }
    </script>
</body>

</html>
